numpy
transformers==4.5.1
torch==1.8.1
torchvision==0.9.1
torchaudio==0.8.1
lexrank==0.1.0
nltk==3.6.2
spacy==3.0.6
pytextrank
datasets==1.6.2
sentencepiece==0.1.95
summ_eval
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
jupyter
gdown
gensim==3.8.3
sklearn
py7zr==0.16.1
mpi4py==3.0.3
tqdm==4.49.0
tensorboard==2.4.1
